.summary{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .orders{
        height: 20vh;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #9370DB;
        justify-content: space-between;
        .upper{
            display: flex;
            justify-content: space-between;
            .left{
                display: flex;
                flex-direction: column;
                .title{
                    font-size: 13px;
                    font-weight: 500;
                }
                .figure{
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                }
                .percentage{
                    font-size: 12px;
                    color: white;
                    font-weight: 300;
                }
            }
            .right{
                span{
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-top: 10px;
                    color: #9370DB;
                    font-weight: 500;
                }
            }
        }
        .lower{
            color: #a481e4;
            font-size: 78px;
        }
    }
    .payments{
        height: 20vh;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color:  #29AB87;
        .upper{
            display: flex;
            justify-content: space-between;
            .left{
                display: flex;
                flex-direction: column;
                .title{
                    font-size: 13px;
                    font-weight: 500;
                }
                .figure{
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                }
                .percentage{
                    font-size: 12px;
                    color: white;
                    font-weight: 300;
                }
            }
            .right{
                span{
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-top: 10px;
                    color:  #29AB87;
                    font-weight: 500;
                }
            }
        }
    }
    .deductions{
        height: 20vh;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #6495ED;
        .upper{
            display: flex;
            justify-content: space-between;
            .left{
                display: flex;
                flex-direction: column;
                .title{
                    font-size: 13px;
                    font-weight: 500;
                }
                .figure{
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                }
                .percentage{
                    font-size: 12px;
                    color: white;
                    font-weight: 300;
                }
            }
            .right{
                span{
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-top: 10px;
                    color: #6495ED;
                    font-weight: 500;
                }
            }
        }
    }
    .newusers{
        height: 20vh;
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #FCAE1E;
        .upper{
            display: flex;
            justify-content: space-between;
            .left{
                display: flex;
                flex-direction: column;
                .title{
                    font-size: 13px;
                    font-weight: 500;
                }
                .figure{
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                }
                .percentage{
                    font-size: 12px;
                    color: white;
                    font-weight: 300;
                }
            }
            .right{
                span{
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-top: 10px;
                    color: #FCAE1E;
                    font-weight: 500;
                }
            }
        }
    }
}